// 今後はcssを本ファイルに記述していく
@import "~bootstrap/scss/bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0px;
    padding: 0px;
}

/*ヘッダー*/
.header-border {
    height: 30px;
    background-color: black;
    margin: 0px;
}


/*ユーザープロフィール*/

.profile {
    border: 1px solid black;
    width: 600px;
    margin: 0 auto;
}

.profile-image {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    margin-top: -80px;
    margin-left: 50px;
    background-color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.user-details {
    margin-left: 300px;
}

.user-details ul {
    display: flex;
    z-index: 1;
    margin-top: -60px;
}

.user-details li {
    list-style: none;
}

.user-name {
    font-size: 30px;
    margin-right: 30px;
}

ul.follow {
    justify-content: space-between;
}

.follow li {
    font-size: 15px;
    margin-top: 60px;
}

/*ユーザーお気に入り投稿*/

.like-post {
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.like-post-image {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    margin: 20px;
    margin: 20px auto 0 auto;
}

.like-image {
    width: 300px;
    height: 200px;
}

.like-user-details {
    margin: 10px 0 10px 50px;
}

.like-name {
    font-size: 20px;

}

.post-user-image {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: white;
    vertical-align: bottom;
}

/*フッター*/

#footer {
    background-color: black;
    height: 150px;
    margin-top: 30px;
}

.footer-logo {
    text-align: center;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 30px auto 0 auto;
}

.footer-nav ul li {
    list-style: none;
}

.icon {
    width: 30px;
    height: 30px;
}

/*トップページ*/

.top-image {
    width: 1000px;
    height: 600px;
    margin: -80px auto 0 auto;
    display: block;
}