/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     margin: 0px;
     padding: 0px;
 }

 /*ヘッダー*/
.header-border {
    height: 30px;
    background-color: black;
    margin: 0px;
}

.global-nav ul {
    display: flex;
    margin: 30px 200px 100px 200px;
    justify-content: space-between;
}

.global-nav ul li {
    list-style: none;
}

.global-nav ul li .logo {
    margin-right: 200px;
    /*↓リファクタリングする*/
    margin-top: -20px;
    vertical-align: bottom;
}

.global-nav ul li .link {
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

.global-nav ul li .link:hover {
    opacity: 0.6;
}

/*ユーザーページ*/

.profile {
    border:1px solid black;
    width: 600px;
    margin: 0 auto;
}

.profile-image {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    margin-top: -80px;
    margin-left: 50px;
    background-color: white;
}