<div id="footer">
  <div class="footer-logo">
    <%= image_tag 'logo_white.png', class: 'logo' %>
  </div>
  <div class="footer-nav">
    <ul>
      <li><%= image_tag 'twitter.png', class: 'icon' %></li>
      <li><%= image_tag 'facebook.png', class: 'icon' %></li>
      <li><%= image_tag 'instagram.png', class: 'icon' %></li>
    </ul>
  </div>
