<div id="app">
  <button class="button" type="button" name="button">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </button>
  <div class="nav">
    <div class="nav__body">
      <ul class="nav__lst">
        <li class="nav__item"><a>①</a></li>
        <li class="nav__item"><a>②</a></li>
        <li class="nav__item"><a>③</a></li>
      </ul>
    </div>
    <div class="nav__body"></div>
  </div>
</div>
