<div class="container">
  <div class="row">
    <div class="col-sm">
      <p><%= image_tag 'camera.svg' %><span class="photo">PHOTO</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      One of three columns
    </div>
    <div class="col-3">
      One of three columns
    </div>
    <div class="col-3">
      One of three columns
    </div>
  </div>
</div>
